@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.datesdiv {
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}

.radiogroup {
    display: flex;
    gap: 15px;
}

.radiogroup label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border: 1px rgb(138, 138, 138);
    border-style: solid;
    border-radius: 10px;
}

#checkbox-award {
    transform: scale(1.25);
}

#copyspreadsheet-button {
    all: unset;
    cursor: pointer;
}

.dates {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(187, 187, 187);
    padding: 2.5px;
    border-radius: 5px;
}

#logarea {
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    height: 15vh;
    font-size: 17.5px;
}

.buttonlog {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px rgb(138, 138, 138);
    background-color: rgb(216, 216, 216);
    border-style: solid;
    cursor: pointer;
}